// Fonts
//@import url(https://fonts.googleapis.com/css?family=Raleway:300,400,600);

// Variables
@import "variables";

// Bootstrap
@import "node_modules/bootstrap-sass/assets/stylesheets/bootstrap";

//$fa-font-path: "../../../node_modules/font-awesome/fonts" !default;
//
//@import 'node_modules/fontawesome/scss/font-awesome.scss';

//this will be used for font-aweseom and bootstrap fonts
$fa-font-path: "../../../fonts" !default;

body {
  padding-top: 50px;
  padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
  padding-left: 15px;
  padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists
   will truncate terms that are too long to fit in the left column
*/
.dl-horizontal dt {
  white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
  /*max-width: 280px !important;*/
  /*width: 100%;*/
}

.padding-5 {
  padding: 5px;
}

.margin-5 {
  margin: 5px;
}

.no-padding {
  padding: 0;
}

.no-margin {
  margin: 0;
}

.hide {
  display: none;
}

/*some customizations*/

.select2-container {
  width: 100%;
  max-width: 280px;
}

.pre-scrollable {
  max-height: 200px;
  overflow-y: scroll;
}

.form-horizontal .control-label {
  padding-top: 5px;
}

input[type="date"], input[type="time"], input[type="datetime-local"], input[type="month"] {
  line-height: 15px;
}

.sidebar {
  margin: 1em;
  min-height: 30em;
  float: left;
}

/*Pagination*/
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus {
  color: #FFF;
  background-color: #337AB7;
}

#loading-bar-spinner .spinner-icon {
  width: 26px;
  height: 26px;

  border: solid 4px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

}

/*Angular Animate */
/* The starting CSS styles for the enter animation */
.ng-enter {
  transition: 0.5s ease all;
  opacity: 0;
}

/* The finishing CSS styles for the enter animation */
.ng-enter.ng-enter-active {
  opacity: 1;
}

/* now the element will fade out before it is removed from the DOM */
.ng-leave {
  transition: 0.5s ease all;
  opacity: 1;
}

.ng-leave.ng-leave-active {
  opacity: 0;
}

/*
 * Base structure
 */

//side dashboard

/*
 * Global add-ons
 */

.sub-header {
  padding-bottom: 10px;
  border-bottom: 1px solid #eee;
}

/*
 * Top navigation
 * Hide default border to remove 1px line.
 */
.navbar-fixed-top {
  border: 0;
}

/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}

@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 51px;
    bottom: 0;
    left: 0;
    z-index: 1000;
    display: block;
    padding: 20px;
    overflow-x: hidden;
    overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}

/* Sidebar navigation */
.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}

.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
  color: #fff;
  background-color: #428bca;
}

/*
 * Main content
 */

.main {
  padding: 20px;
}

@media (min-width: 768px) {
  .main {
    padding-right: 40px;
    padding-left: 40px;
  }
}

.main .page-header {
  margin-top: 0;
}

/*
 * Placeholder dashboard ideas
 */

.placeholders {
  margin-bottom: 30px;
  text-align: center;
}

.placeholders h4 {
  margin-bottom: 0;
}

.placeholder {
  margin-bottom: 20px;
}

.placeholder img {
  display: inline-block;
  border-radius: 50%;
}

/*For Datatbale Search Inpur*/

tfoot {
  display: table-header-group;
}

tfoot input {
  width: 100%;
  padding: 0px;
  box-sizing: border-box;
}
